<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.board.service.BoardMapper">
	<!-- 게시판리스트 띄우는 맵퍼 -->
	<resultMap type="com.cafe24.iso159.board.service.BoardAndBoardContent" id="selectBoardListMap">
		<id column="board_code" property="boardCode"/>
		<result column="board_name" property="boardName"/>
		<collection property="boardcontent" ofType="com.cafe24.iso159.board.service.BoardContent">
			<id column="board_content_code" property="boardContentCode"/>
			<result column="boardNumber" property="boardNumber"/>
			<result column="m_member_id" property="mMemberId"/>
			<result column="board_content_title" property="boardContentTitle"/>
			<result column="board_content_content" property="boardContentContent"/>
			<result column="board_content_date" property="boardContentDate"/>
		</collection>	
	</resultMap>
	
	<!-- 게시판 글 띄우는 맵퍼 -->
	<resultMap type="com.cafe24.iso159.board.service.BoardCommand" id="selectBoardReplyListMap">
		<id column="board_code" property="boardCode"/>
		<result column="board_name" property="boardName"/>
		<result column="board_content_code" property="boardContentCode"/>
		<result column="m_member_id" property="mMemberId"/>
		<result column="board_content_code" property="boardContentTitle"/>
		<result column="board_content_content" property="boardContentContent"/>
		<result column="board_content_date" property="boardContentDate"/>
		<collection property="boardReply" ofType="com.cafe24.iso159.board.service.BoardReply">
			<id column="board_reply_code" property="boardReplyCode"/>
			<result column="board_reply_content" property="boardReplyContent"/>
			<result column="board_reply_date" property="boardReplyDate"/>
		</collection>
	</resultMap>
	<!-- 게시판 글 등록 -->
	<insert id="insertBoardContent" parameterType="com.cafe24.iso159.board.service.BoardContent">
		INSERT INTO
			 t_board_content 
			 (
			 	board_content_code
			 	, board_code
			 	, m_member_id
			 	, board_content_title
			 	, board_content_content
			 	, board_content_date
 			) 
 			VALUES 
 			(
 				#{boardContentCode}
 				, #{boardCode}
 				, #{mMemberId}
 				, #{boardContentTitle}
 				, #{boardContentContent}
 				, now()
			)
	</insert>
	<!-- 게시판 등록 -->
	<insert id="insertBoard" parameterType="com.cafe24.iso159.board.service.Board">
		INSERT INTO
			 t_board 
			 (
			 	board_code
			 	, m_admin_id
			 	, board_name
			 	, board_date
		 	) 
		 	VALUES 
		 	(
		 		#{boardCode}
		 		, #{mAdminId}
		 		, #{boardName}
		 		, now()
	 		)
	</insert>
	
	<!-- 게시판 댓글 등록 -->
	<insert id="insertBoardReply" parameterType="com.cafe24.iso159.board.service.BoardReply">
		INSERT INTO 
			t_board_reply 
			(
				board_reply_code
				, board_content_code
				, m_member_id
				, board_reply_content
				, board_reply_date
			) 
			VALUES 
			(
				#{boardReplyCode}
				, #{boardContentCode}
				, #{mMemberId}
				, #{boardReplyContent}
				, now()
			)
	</insert>
	
	<!-- 게시판 글 전체 조회 -->
	<select id="selectBoardContent" resultMap="selectBoardListMap">
		SELECT 
			substring(board_content_code, 20) as boardNumber 
			,board_content_code
			,b.board_name 
			,m_member_id
			,board_content_title
			,board_content_content 
			,board_content_date 
		FROM 
			t_board_content bc
		INNER JOIN 
			t_board b
		ON bc.board_code = b.board_code
		ORDER BY bc.board_content_date DESC
	</select>
	<!-- 게시판 글 상세조회 -->
	<select id="boardDetail" parameterType="string" resultMap="selectBoardListMap">
		SELECT
			bc.board_content_code 
			,b.board_name 
			,bc.m_member_id 
			,bc.board_content_title
			,bc.board_content_content 
			,bc.board_content_date          
		FROM 
			t_board_content bc
		INNER JOIN 
			t_board b
		ON bc.board_code = b.board_code
        WHERE 
        	bc.board_content_code = #{boardContentCode}
	</select>
	<!-- 게시판 댓글리스트 조회 -->
	<select id="selectBoardReply" parameterType="String" resultType="com.cafe24.iso159.board.service.BoardReply">
		SELECT 
			board_reply_code AS boardReplyCode
    		,board_content_code AS boardContentCode
    		,board_reply_content AS boardReplyContent
    		,board_reply_date As boardReplyDate
		FROM 
			t_board_reply 
		WHERE 
			board_content_code = #{boardContentCode}
	</select>
	
	<!-- 게시판 그룹이름 리스트 조회 -->
	<select id="selectBoard" resultType="com.cafe24.iso159.board.service.Board">
		SELECT board_code as boardCode, board_name as boardName FROM t_board ORDER BY board_date DESC
	</select>
	
	<!-- 게시판 그룹이름 삭제 -->
	<delete id="deleteBoard" parameterType="String">
		DELETE FROM t_board WHERE board_code = #{boardCode}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoardContent" parameterType="String">
		DELETE FROM t_board_content WHERE board_content_code = #{boardContentCode}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="updateBoardContent" parameterType="com.cafe24.iso159.board.service.BoardContent">
		UPDATE 
			t_board_content 
		SET					
			board_content_title = #{boardContentTitle}
			, board_content_content = #{boardContentContent}
		WHERE 
			board_content_code = #{boardContentCode}
	</update>
		
	<!-- 게시판 글 총갯수 구하기 -->
	<select id="boardCount" resultType="String">
		SELECT COUNT(*) FROM t_board_content
	</select>
	
	<!-- 게시판등록 max코드값 조회 쿼리문 -->
	<select id="selectLastCode" resultType="String">
		select max(CAST(substring(board_content_code, 20) AS DECIMAL)) as maxcol from t_board_content
	</select>
	
	<!-- 게시판 그룹등록 max코드값 조회 쿼리문 -->
	<select id="selectLastBoardNum" resultType="String">
		select max(CAST(substring(board_code, 12) AS DECIMAL)) as maxcol from t_board
	</select>
	
	<!-- 게시판 댓글등록 max코드값 조회 쿼리문 -->
	<select id="selectLastReplyNum" resultType="String">
		select max(CAST(substring(board_reply_code, 18) AS DECIMAL)) as maxcol from t_board_reply
	</select>
</mapper>