<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.board.service.BoardMapper">
	<!-- 게시판리스트 띄우는 맵퍼 -->
	<resultMap type="com.cafe24.iso159.board.service.BoardAndBoardContent" id="selectBoardListMap">
		<id column="board_code" property="boardCode"/>
		<result column="board_name" property="boardName"/>
		<collection property="boardcontent" ofType="com.cafe24.iso159.board.service.BoardContent">
			<id column="board_content_code" property="boardContentCode"/>
			<result column="boardNumber" property="boardNumber"/>
			<result column="m_member_id" property="mMemberId"/>
			<result column="board_content_title" property="boardContentTitle"/>
			<result column="board_content_content" property="boardContentContent"/>
			<result column="board_content_date" property="boardContentDate"/>
		</collection>	
	</resultMap>
	<!-- 게시판 글 등록 -->
	<insert id="insertBoardContent" parameterType="com.cafe24.iso159.board.service.BoardContent">
		INSERT INTO
			 t_board_content 
			 (
			 	board_content_code
			 	, board_code
			 	, m_member_id
			 	, board_content_title
			 	, board_content_content
			 	, board_content_date
 			) 
 			VALUES 
 			(
 				#{boardContentCode}
 				, #{boardCode}
 				, #{mMemberId}
 				, #{boardContentTitle}
 				, #{boardContentContent}
 				, now()
			)
	</insert>
	<!-- 게시판 등록 -->
	<insert id="insertBoard" parameterType="com.cafe24.iso159.board.service.Board">
		INSERT INTO
			 t_board 
			 (
			 	board_code
			 	, m_admin_id
			 	, board_name
			 	, board_date
		 	) 
		 	VALUES 
		 	(
		 		#{boardCode}
		 		, #{mAdminId}
		 		, #{boardName}
		 		, now()
	 		);
	</insert>
	
	<!-- 게시판 글 전체 조회 -->
	<select id="selectBoardContent" resultMap="selectBoardListMap">
		SELECT 
			substring(board_content_code, 20) as boardNumber 
			,board_content_code
			,b.board_name 
			,m_member_id
			,board_content_title
			,board_content_content 
			,board_content_date 
		FROM 
			t_board_content bc
		INNER JOIN 
			t_board b
		ON bc.board_code = b.board_code
	</select>
	<!-- 게시판 글 상세조회 -->
	<select id="boardDetail" parameterType="string" resultMap="selectBoardListMap">
		SELECT
			board_content_code 
			,b.board_name 
			,m_member_id 
			,board_content_title
			,board_content_content 
			,board_content_date 
		FROM 
			t_board_content bc
		INNER JOIN 
			t_board b
		ON bc.board_code = b.board_code
        WHERE bc.board_content_code = #{boardContentCode}
	</select>
	
	<!-- 게시판 그룹이름 리스트 조회 -->
	<select id="selectBoard" resultType="com.cafe24.iso159.board.service.Board">
		SELECT board_code as boardCode, board_name as boardName FROM t_board
	</select>
	
	<!-- 게시글 수정 -->
	<update id="updateBoardContent" parameterType="com.cafe24.iso159.board.service.BoardContent">
		UPDATE 
			t_board_content 
		SET			
			board_content_title = #{boardContentTitle}
			, m_member_id = #{mMemberId}
			, board_content_content = #{boardContentContent}
			, board_content_date = now()
		WHERE 
			board_content_code = #{boardContentCode}
	</update>
	
	<!-- 게시판 글 총갯수 구하기 -->
	<select id="boardCount" resultType="String">
		SELECT COUNT(*) FROM t_board_content
	</select>
	
	<!-- 게시판등록 max코드값 조회 쿼리문 -->
	<select id="selectLastCode" resultType="String">
		select max(CAST(substring(board_content_code, 20) AS DECIMAL)) as maxcol from t_board_content
	</select>
	
	<!-- 게시판 그룹등록 max코드값 조회 쿼리문 -->
	<select id="selectLastBoardNum" resultType="String">
		select max(CAST(substring(board_code, 12) AS DECIMAL)) as maxcol from t_board
	</select>
</mapper>