<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.shelter.service.ShelterMapper">

	<!-- MemberIdAndBusinessLicenseFileMap -->
	<resultMap type="com.cafe24.iso159.shelter.service.MemberIdAndBusinessLicenseFile"
			   id="MemberIdAndBusinessLicenseFileMap">
		<id column="m_member_id" property="mMemberId"/>
		<collection property="businessLicenseFileList" 
					ofType="com.cafe24.iso159.shelter.service.BusinessLicenseFile">
			<id column="of_code" property="ofCode"></id>
			<id column="bl_code" property="blCode"></id>
			<id column="of_path" property="ofPath"></id>
			<id column="of_origin_name" property="ofOriginName"></id>
			<id column="of_save_name" property="ofSaveName"></id>
			<id column="of_ext" property="ofExt"></id>
			<id column="of_size" property="ofSize"></id>
			<id column="of_down_date" property="ofDate"></id>		
		</collection>
	</resultMap>
	
	<!-- BusinessLicenseMap -->
	<resultMap type="com.cafe24.iso159.shelter.service.BusinessLicense" id="BusinessLicenseMap">
		<id column="bl_code" property="blCode"/>
		<result column="m_member_id" property="mMemberId"/>
		<result column="os_name" property="osCodeLicenseStatus"/>
		<result column="bl_shelter_name" property="blShelterName"/>
		<result column="bl_shelter_number" property="blShelterNumber"/>
		<result column="bl_shelter_reg_number" property="blShelterRegNumber"/>
		<result column="bl_shelter_address" property="blShelterAddress"/>
		<result column="bl_shelter_deny_reason" property="blShelterDenyReason"/>
		<result column="bl_shelter_date" property="blShelterDate"/>
	</resultMap>
	
	<!-- ShelterStaffRequestJoinShelterNameMap -->
	<resultMap type="com.cafe24.iso159.shelter.service.ShelterStaffRequestAndShelterName" 
				id="ShelterStaffRequestJoinShelterNameMap">
		<id column="ssr_code" property="primaryCode"/>
		<result column="bl_shelter_name" property="blShelterName"/>
		<collection property="shelterStaffRequest" ofType="com.cafe24.iso159.shelter.service.ShelterStaffRequest">
			<id column="ssr_code" property="ssrCode"/>
			<result column="m_id" property="mId"/>
			<result column="bl_code" property="blCode"/>
			<result column="os_name" property="osCodeStaffRequest"/>
			<result column="ssr_request_date" property="ssrRequestDate"/>
			<result column="ssr_clear_date" property="ssrClearDate"/>
		</collection>		
	</resultMap>
	
	<!-- 직원 신청 상태코드 수정 쿼리문 -->
	<update id="updateShelterStaffRequestOsCodeBySsrCode" parameterType="map">
		UPDATE
			t_shelter_staff_request
		SET
			os_code_staff_request = #{osCodeStaffRequest}
		<if test="allowStaffRequest != null">
			, ssr_clear_date = now()
		</if>
		WHERE
			ssr_code = #{ssrCode}
	</update>
	
	<!-- 직원 신청 보호소 코드로 조회 쿼리문 -->
	<select id="selectShelterStaffRequestAndShelterName" parameterType="map" 
			resultMap="ShelterStaffRequestJoinShelterNameMap">
		SELECT
			ssr_code
			, m_id
			, ssr.bl_code
            , bl.bl_shelter_name
			, os.os_name
			, ssr_request_date
			, ssr_clear_date
		FROM
			t_shelter_staff_request ssr
		INNER JOIN
			t_business_license bl
		ON
			ssr.bl_code = bl.bl_code
		INNER JOIN
			t_overall_status os
		ON
			ssr.os_code_staff_request = os.os_code
		<if test="blCode!=null">
			WHERE
				bl.bl_code=#{blCode}
		</if>
		<if test="mId!=null">
			WHERE
				m_id=#{mId}
		</if>
	</select>
	
	<!-- t_shelter_staff_request테이블의 ssr_code를 잘라서 가장 높은 숫자를 리턴하는 쿼리문 -->
	<select id="selectSsrCodeNum" resultType="String">
		SELECT 
			MAX(CAST(SUBSTRING(ssr_code,10) AS DECIMAL)) 
		FROM t_shelter_staff_request
	</select>
	
	<!-- 보호소 직원 신청 등록 쿼리문 -->
	<insert id="insertShelterStaffRequest" parameterType="com.cafe24.iso159.shelter.service.ShelterStaffRequest">
		INSERT INTO 
			t_shelter_staff_request (ssr_code, m_id, bl_code, os_code_staff_request, ssr_request_date) 
		VALUES (#{ssrCode}, #{mId}, #{blCode}, #{osCodeStaffRequest}, now());
	</insert>
	
	<!-- 대표 보호소 목록 리스트 -->
	<select id="selectShelterList" parameterType="java.lang.String" resultMap="BusinessLicenseMap">
		SELECT 
			bl_code
			, bl_shelter_name
			, bl_shelter_number
			, bl_shelter_reg_number
			, bl_shelter_address
		FROM
			t_business_license
		<if test="_parameter!=null">
			WHERE
				os_code_license_status = #{osCodeLicenseStatus}
		</if>
		ORDER BY 
			bl_shelter_name ASC
	</select>
	
	<!-- 체험자 권한 보호소로 수정하는 쿼리문 -->
	<update id="updateShelterRight" parameterType="map">
		UPDATE
			t_member
		SET
			bl_code=#{blCode}
			, m_right_code=#{mRightCode}
		WHERE
			m_id=#{mMemberId}
	</update>
	
	<!-- 보호소 대표 신청 상태 수정 및  거절 사유 등록(수정) 쿼리문 -->
	<update id="updateBusinessLicenseDeny" parameterType="map">
		UPDATE 
			t_business_license
		SET 
			os_code_license_status=#{osCodeLicenseStatus}
			, bl_shelter_deny_reason=#{blShelterDenyReason}
		WHERE bl_code=#{blCode}		
	</update>	
	
	<!-- 보호소 대표 신청 상태 수정 쿼리문 -->
	<update id="updateBusinessLicenseOsCodeLicenseStatus" parameterType="map">
		UPDATE 
			t_business_license 
		SET os_code_license_status=#{OsCodeLicenseStatus}
		WHERE bl_code=#{blCode}
	</update>
	
	<!-- 개인 파일리스트 조회 쿼리문 -->
	<select id="selectBusinessLicenseFileList" parameterType="String" resultMap="MemberIdAndBusinessLicenseFileMap">
		SELECT
			m_member_id
			, of_code
			, of.bl_code
			, of_path
			, of_origin_name
			, of_save_name
			, of_ext
			, of_size
			, of_down_date
		FROM t_overall_file of
		INNER JOIN t_business_license bl
		ON of.bl_code = bl.bl_code
		WHERE bl.bl_code = #{blCode}
	</select>
	
	<!-- 보호소 대표 신청 개인 조회 쿼리문 -->
	<select id="selectOneBusinessLicense" parameterType="String" resultMap="BusinessLicenseMap">
		SELECT 
			bl_code
			, m_member_id
			, os.os_name
			, bl_shelter_name
			, bl_shelter_number
			, bl_shelter_reg_number
			, bl_shelter_address
			, bl_shelter_date
		FROM t_business_license bl
		INNER JOIN t_overall_status os
		ON bl.os_code_license_status = os.os_code
		WHERE bl.bl_code=#{blCode}
		ORDER BY bl_shelter_date DESC		
	</select>
	
	<!-- 보호소 대표 신청 리스트 조회 쿼리문 -->
	<select id="selectBusinessLicense" parameterType="String" resultMap="BusinessLicenseMap">
		SELECT 
			bl_code
			, m_member_id
			, os.os_name
			, bl_shelter_name
			, bl_shelter_number
			, bl_shelter_reg_number
			, bl_shelter_address
			, bl_shelter_deny_reason
			, bl_shelter_date
		FROM t_business_license bl
		INNER JOIN t_overall_status os
		ON bl.os_code_license_status = os.os_code
		<if test="_parameter!=null">
			WHERE m_member_id = #{mMemberId}
		</if>
		ORDER BY bl_shelter_date DESC
		
	</select>

	<!-- 보호소 대표 신청 쿼리문 -->
	<insert id="insertBusinessLicense" parameterType="com.cafe24.iso159.shelter.service.BusinessLicense">
		INSERT INTO 
			t_business_license (bl_code, m_member_id, os_code_license_status, bl_shelter_name,bl_shelter_number, bl_shelter_reg_number, bl_shelter_address, bl_shelter_date) 
		VALUES 
			(#{blCode}, #{mMemberId}, #{osCodeLicenseStatus}, #{blShelterName}, #{blShelterNumber}, #{blShelterRegNumber}, #{blShelterAddress}, now());
	</insert>
		
	<!-- t_overall_file 테이블의 of_code를 잘라서 가장 높은 숫자를 리턴 -->
	<select id="selectOfCodeNum" resultType="String">
		SELECT 
			MAX(CAST(SUBSTRING(of_code,9) AS DECIMAL)) 
		FROM t_overall_file
	</select>
		
	<!-- t_business_license테이블의 bl_code를 잘라서 가장 높은 숫자를 리턴 -->
	<select id="selectBlCodeNum" resultType="String">
		SELECT 
			MAX(CAST(SUBSTRING(bl_code,9) AS DECIMAL)) 
		FROM t_business_license
	</select>
	
	<!-- 보호소 대표 신청 파일 등록 쿼리문 -->
	<insert id="insertBusinessLicenseFile" parameterType="com.cafe24.iso159.shelter.service.BusinessLicenseFile">
		INSERT INTO 
			t_overall_file (of_code, bl_code, of_path, of_origin_name, of_save_name, of_ext, of_size, of_down_date) 
		VALUES 
			(#{ofCode}, #{blCode}, #{ofPath}, #{ofOriginName}, #{ofSaveName}, #{ofExt}, #{ofSize}, now());
	</insert>
	
		<!-- 사후 진료 신청하려는 보호소 1개 선택해서 보여주는 쿼리 -->
	<select id="insertClinicRequest" parameterType="com.cafe24.iso159.shelter.service.BusinessLicenseClinic">
		INSERT INTO 
			t_shelter_clinic(sc_code, bl_code, m_shelter_id, adopt_code, m_adopt_id, os_code_clinic_kind, os_code_clinic_status, sc_date, sc_reserve_date)
		VALUES (#{scCode}, #{blCode}, null, #{adoptCode}, #{mAdoptId}, 'os_jindan_2_1_2', 'os_jindan_2_1_2', now(), now());	
	</select>
	
	<!-- t_shelter_clinic 테이블의 sc_code의 숫자 조회 -->
	<select id="selectScCodeNum" resultType="String">
		SELECT 
			MAX(CAST(SUBSTRING(sc_code,9) AS DECIMAL)) 
		FROM t_shelter_clinic
	</select>
	
	<!-- 보호소에 사후관리 진료 신청한 리스트 조회 쿼리 -->
	<select id="selectShelterClinicRequestList" resultType="com.cafe24.iso159.shelter.service.BusinessLicenseClinic">
		SELECT 
			m_shelter_id, m_adopt_id, os_code_clinic_kind, sc_date,sc_reserve_date 
		FROM 
			t_shelter_clinic 
		ORDER BY
			sc_reserve_date ASC
	</select>
</mapper>