<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.goods.service.GoodsMapper">

	<!-- 상품 1개 상세 조회쿼리문 -->
	<select id="selectGoodsDetail" resultType="com.cafe24.iso159.goods.service.Goods">
		SELECT 
			point_goods_code as pointGoodsCode
			, m_admin_id as mAdminId
			, point_goods_name as pointGoodsName
			, point_goods_point as pointGoodsPoint
			, point_goods_desc as pointGoodsDesc
			, point_goods_date as pointGoodsDate 
		FROM 
			t_point_goods
		WHERE
			point_goods_code = #{pointGoodsCode}
	</select>

	<!-- 상품 등록 쿼리 --> 
	<insert id="insertGoods" parameterType="com.cafe24.iso159.goods.service.Goods">
		INSERT INTO t_point_goods 
			(point_goods_code
			, m_admin_id
			, point_goods_name
			, point_goods_point
			, point_goods_desc
			, point_goods_date)
		VALUES (
			#{pointGoodsCode}
			, #{mAdminId}
			, #{pointGoodsName}
			, #{pointGoodsPoint}
			, #{pointGoodsDesc}
			, now());
	</insert>
	<!-- 상품등록 Code 생성 쿼리 -->
	<select id="selectGoodsCodeNumber" resultType="int">
		SELECT
		MAX(cast(substring(point_goods_code, 17) as DECIMAL))
		FROM 
			t_point_goods
	</select>
	
	<!--상품정보 전체 조회 쿼리-->
	<select id="selectGoodsList" resultType="com.cafe24.iso159.goods.service.Goods">
		SELECT 
			point_goods_code as pointGoodsCode
			, m_admin_id as mAdminId
			, point_goods_name as pointGoodsName
			, point_goods_point as pointGoodsPoint
			, point_goods_desc as pointGoodsDesc
			, point_goods_date as pointGoodsDate 
		FROM 
			t_point_goods;
	</select>
	
		<!-- 회원 정보 멤버 수정 쿼리 -->
	<update id="updateMember" parameterType="com.cafe24.iso159.member.service.Member">
		UPDATE
			t_member SET
			m_pw = #{mPw}
		WHERE
			m_id = #{mId}
	</update>
	
	<!-- 상품 수정 쿼리 -->
	<update id="updateGoods" parameterType="com.cafe24.iso159.goods.service.Goods">
		UPDATE 
			t_point_goods 
		SET 
			point_goods_name=#{pointGoodsName}
			, point_goods_point=#{pointGoodsPoint} 
			, point_goods_desc=#{pointGoodsDesc}
		WHERE 
			point_goods_code=#{pointGoodsCode};
	</update>
	
	<!-- 상품 하나 검색 해서 업데이트에 사용 -->
	<select id="selectOneGoods" parameterType="String" resultType="com.cafe24.iso159.goods.service.Goods">
		SELECT
			point_goods_name as pointGoodsName
			, point_goods_point as pointGoodsPoint
			, point_goods_desc as pointGoodsDesc
		FROM
			t_point_goods
		WHERE
			point_goods_code = #{pointGoodsCode}
	</select>
	
	<!-- 상품 리스트 1개 삭제 -->
	<delete id="deleteGoods" parameterType="String">
		DELETE FROM 
			t_point_goods 
		WHERE 
			point_goods_code=#{pointGoodsCode};
	</delete>	
</mapper>