<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.exp.service.ExpMapper">

	<resultMap type="com.cafe24.iso159.exp.service.Exp" id="ExpVo">
		<id column="exp_code" property="expCode"/>
		<result column="animal_code" property="animalCode"/>
		<result column="m_exp_id" property="mExpId"/>
		<result column="m_shelter_id_accept" property="mShelterIdAccept"/>
		<result column="m_shelter_id_check" property="mShelterIdCheck"/>
		<result column="bl_code" property="blCode"/>
		<result column="exp_period_code" property="expPeriodCode"/>
		<result column="os_code_exp" property="osCodeExp"/>
		<result column="os_code_cost_return" property="osCodeCostReturn"/>
		<result column="exp_journal_count" property="expJournalCount"/>
		<result column="exp_cost" property="expCost"/>
		<result column="exp_purpose" property="expPurpose"/>
		<result column="exp_reserve_request_date" property="expReserveRequestDate"/>
		<result column="exp_check_date" property="expCheckDate"/>
		<result column="exp_start_date" property="expStartDate"/>
		<result column="exp_end_date" property="expEndDate"/>
	</resultMap>
	
	<resultMap type="com.cafe24.iso159.exp.service.ExpPeriod" id="ExpPeriodVo">
		<id column="exp_period_code" property="expPeriodCode"/>
		<result column="exp_period_period" property="expPeriodPeriod"/>
		<result column="exp_period_level" property="expPeriodLevel"/>
		<result column="exp_period_cost" property="expPeriodCost"/>
		<result column="exp_period_cost_level" property="expPeriodCostLevel"/>
		<result column="exp_period_cost_minus" property="expPeriodCostMinus"/>
		<result column="exp_period_journal_count" property="expPeriodJournalCount"/>
	</resultMap>
		
	<resultMap type="com.cafe24.iso159.animal.service.Animal" id="AnimalVo">
		<id column="animal_code" property="animalCode"/>
		<result column="os_code_animal" property="osCodeAnimal"/>
		<result column="bl_code" property="blCode"/>
		<result column="m_shelter_id" property="mShelterId"/>
		<result column="os_code_kind" property="osCodeKind"/>
		<result column="animal_breed" property="animalBreed"/>
		<result column="animal_area" property="animalArea"/>
		<result column="animal_id_code" property="animalIdCode"/>
		<result column="animal_weight" property="animalWeight"/>
		<result column="animal_age" property="animalAge"/>
		<result column="animal_enroll_date" property="animalEnrollDate"/>
	</resultMap>
	
	<resultMap type="com.cafe24.iso159.shelter.service.BusinessLicense" id="BusinessLicenseVo">
		<id column="bl_code" property="blCode"/>
		<result column="m_member_id" property="mMemberId"/>
		<result column="os_code_license_status" property="osCodeLicenseStatus"/>
		<result column="bl_shelter_name" property="blShelterName"/>
		<result column="bl_shelter_number" property="blShelterNumber"/>
		<result column="bl_shelter_postcode" property="blShelterPostcode"/>
		<result column="bl_shelter_address" property="blShelterAddress"/>
		<result column="bl_shelter_deny_reason" property="blShelterDenyReason"/>
		<result column="bl_shelter_date" property="blShelterDate"/>
	</resultMap>
	
	<resultMap type="com.cafe24.iso159.service.common.OverallStatus" id="OverallStatusVo">
		<id column="os_code" property="osCode"/>
		<result column="os_large" property="osLarge"/>
		<result column="os_large_level" property="osLargeLevel"/>
		<result column="os_small" property="osSmall"/>
		<result column="os_small_level" property="osSmallLevel"/>
		<result column="os_name" property="osName"/>
		<result column="os_name_level" property="osNameLevel"/>
	</resultMap>

	<resultMap type="com.cafe24.iso159.member.service.MemberInfo" id="MemberInfoVo">
		<id column="m_info_code" property="mInfoCode"/>
		<result column="m_info_name" property="mInfoName"/>
		<result column="m_info_nickname" property="mInfoNickname"/>
		<result column="m_info_gender" property="mInfoGender"/>
		<result column="m_info_birth" property="mInfoBirth"/>
		<result column="m_info_postcode" property="mInfoPostcode"/>
		<result column="m_info_address" property="mInfoAddress"/>
		<result column="m_info_email" property="mInfoEmail"/>
		<result column="m_info_phone" property="mInfoPhone"/>
		<result column="m_info_join_date" property="mInfoJoindate"/>
	</resultMap>
	
	<!-- 체험일지 작성 -->
	<insert id="addExpJournal" parameterType="com.cafe24.iso159.exp.service.ExpJournal">
			INSERT INTO 
			t_exp_journal (
			exp_journal_code, 
			exp_code, 
			m_exp_id, 
			exp_journal, 
			exp_journal_point, 
			exp_journal_animal_char, 
			exp_journal_date) 
		VALUES 
			(#{expJournalCode}, 
			#{expCode}, 
			#{mExpId}, 
			#{expJournal}, 
			#{expJournalPoint}, 
			#{expJournalAnimalChar}, 
			now());
	</insert>

	<!-- exp_journal_code PK값 구하는 부분 -->
	<select id="selectExpJournalCode" resultType="int">
		SELECT 
			MAX(CAST(SUBSTRING(exp_journal_code,18) AS DECIMAL)) 
		FROM 
			t_exp_journal
	</select>
	
	<!-- 체험일지 작성 횟수 확인 -->
	<select id="selectExpCodeCountFind" parameterType="String" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			t_exp_journal 
		WHERE 
			exp_code = #{exp_code}
	</select>
	
	<!-- 동물반환완료 클릭시 os_code수정 -->
	<update id="updateCostIoOsCode" parameterType="com.cafe24.iso159.exp.service.CostIo">
		UPDATE 
			t_cost_io 
		SET 
			os_code=#{osCode}
		WHERE 
			cost_io_code=#{costIoCode}
	</update>
	
	<!-- exp_code로 costIoCode 검색 -->
	<select id="selectFindCostIoCode" parameterType="com.cafe24.iso159.exp.service.CostIo" resultType="String">
		SELECT 
			cost_io_code
		FROM 
			t_cost_io 
		WHERE 
			exp_code=#{expCode}
	</select>
	
	<!-- 동물지급완료 클릭시 cose_io생성 -->
	<insert id="addCostIo" parameterType="com.cafe24.iso159.exp.service.CostIo">
		INSERT INTO 
			t_cost_io (cost_io_code, exp_code, os_code, cost_io_cost) 
		VALUES 
			(#{costIoCode}, #{expCode}, #{osCode}, #{costIoCost})
	</insert>
	
	<!-- cost_io_code PK값 구하는 부분 -->
	<select id="selectCostIoCode" resultType="int">
		SELECT MAX(CAST(SUBSTRING(cost_io_code,14) AS DECIMAL)) FROM t_cost_io
	</select>
	
	<!-- 보호소 체험진행,종료시 체험 상태 변경 -->
	<update id="progressionExpUpdate" parameterType="com.cafe24.iso159.exp.service.Exp">
		UPDATE 
			t_exp 
		SET 
			os_code_exp=#{osCodeExp}
		WHERE 
			exp_code=#{expCode}
	</update>
	
	<!-- 보호소 체험진행,종료시 동물 상태 변경 -->
	<update id="progressionAnimalUpdate" parameterType="com.cafe24.iso159.animal.service.Animal">
		UPDATE 
			t_animal 
		SET 
			os_code_animal=#{osCodeAnimal} 
		WHERE 
			animal_code=#{animalCode}
	</update>
	
	<!-- 보호소 체험 신청 현황 수정 -->
	<update id="updateOsExp" parameterType="com.cafe24.iso159.exp.service.Exp">
		UPDATE 
			t_exp 
		SET 
			<if test= 'osCodeExp.equals("os_exp_12_1_5")'>
			m_shelter_id_accept=#{mShelterIdAccept}, 
			exp_check_date = #{expCheckDate},
			</if>
			os_code_exp=#{osCodeExp} 
		WHERE 
			exp_code=#{expCode}
	</update>
	
	<!-- 보호소 체험 상세정보 볼때 체험상태 확인 -->
	<select id="updateExpOsNameCheck" parameterType="com.cafe24.iso159.exp.service.Exp" resultType="com.cafe24.iso159.exp.service.Exp">
		SELECT 
			os.os_name AS osName
		FROM 
			t_exp e 
		INNER JOIN 
			t_overall_status os 
		ON 
			e.os_code_exp = os.os_code 
		WHERE 
			e.exp_code = #{expCode}
	</select>
	
	<!-- 보호소 체험 상세정보 볼때 확인자,체험상태 추가 -->
	<update id="updateExpmShelterIdCheck" parameterType="com.cafe24.iso159.exp.service.Exp">
		UPDATE 
			t_exp 
		SET 
			m_shelter_id_check = #{mShelterIdCheck}, 
			os_code_exp = #{osCodeExp}
		WHERE 
			exp_code = #{expCode}
	</update>
	
	<!-- 보호소 체험상세 정보 -->
	<resultMap type="com.cafe24.iso159.exp.service.ExpAndAnimalAndOverallStatusAndExpPeriodAndMemberInfo" id="selectExpShelterInfoMap">
		<collection property="exp" resultMap="ExpVo"></collection>
		<collection property="animal" resultMap="AnimalVo"></collection>
		<collection property="overallStatus" resultMap="OverallStatusVo"></collection>
		<collection property="expPeriod" resultMap="ExpPeriodVo"></collection>
		<collection property="memberInfo" resultMap="MemberInfoVo"></collection>
	</resultMap>
	<select id="selectExpShelterInfo" resultMap="selectExpShelterInfoMap" parameterType="String">
		SELECT 
			e.exp_code
			,e.animal_code
			,e.m_exp_id
			,e.exp_cost
			,mi.m_info_name
			,mi.m_info_gender
			,mi.m_info_birth
			,mi.m_info_address
			,mi.m_info_phone
			,e.m_shelter_id_accept
			,ep.exp_period_level
			,os2.os_name AS os_code_exp
			,os3.os_name AS os_code_cost_return
			,e.exp_purpose
			,e.exp_reserve_request_date
			,e.exp_check_date
			,e.exp_start_date
			,e.exp_end_date
			,os1.os_name AS os_code_animal
			,a.animal_id_code
			,a.animal_breed
			,a.animal_weight
			,a.animal_age
		FROM 
			t_exp e 
		INNER JOIN 
			t_member m
		ON 
			e.m_exp_id = m.m_id
		INNER JOIN 
			t_member_info mi
		ON 
			m.m_info_code = mi.m_info_code
		INNER JOIN 
			t_exp_period ep
		ON 
			e.exp_period_code = ep.exp_period_code
		INNER JOIN 
			t_overall_status os2
		ON 
			e.os_code_exp = os2.os_code
		INNER JOIN 
			t_overall_status os3
		ON 
			e.os_code_cost_return = os3.os_code
		INNER JOIN 
			t_animal a
		ON 
			e.animal_code = a.animal_code
		INNER JOIN 
			t_overall_status os1
		ON 
			a.os_code_animal = os1.os_code
		WHERE 
			e.exp_code = #{expCode}
	</select>
	
	<!-- 해당 보호소 체험자 리스트 -->
	<select id="selectExpShelterList" parameterType="String" resultType="com.cafe24.iso159.exp.service.Exp">
		SELECT 
			e.exp_code AS expCode
			,e.m_exp_id AS mExpId
			,m_shelter_id_accept AS mShelterIdAccept
			,os.os_name AS osName
			,e.exp_reserve_request_date AS expReserveRequestDate
		FROM 
			t_exp e 
		INNER JOIN 
			t_overall_status os 
		ON 
			e.os_code_exp = os.os_code
		WHERE 
			e.bl_code=#{blCode}
		ORDER BY 
			e.exp_reserve_request_date DESC
	</select>
	
	<!-- 체험 삭제 -->
	<delete id="deleteExpOne" parameterType="String">
		DELETE FROM 
			t_exp 
		WHERE 
			exp_code= #{expCode}
	</delete>
	
	<!-- 체험 상세 정보 -->
	<resultMap type="com.cafe24.iso159.exp.service.ExpAndAnimalAndBusinessLicense" id="selectExpAndAnimalAndBusinessLicenseOneInfoMap">
		<collection property="exp" resultMap="ExpVo"></collection>
		<collection property="animal" resultMap="AnimalVo"></collection>
		<collection property="businessLicense" resultMap="BusinessLicenseVo"></collection>
	</resultMap>
	<select id="selectExpAndAnimalAndBusinessLicenseOneInfo" resultMap="selectExpAndAnimalAndBusinessLicenseOneInfoMap" parameterType="String">
		SELECT 
			a.animal_breed
			,a.animal_weight
			,a.animal_age 
			,e.exp_code
			,e.m_shelter_id_accept
			,e.exp_journal_count
			,e.exp_cost
			,e.exp_purpose
			,e.exp_reserve_request_date
			,e.exp_start_date
			,e.exp_end_date
			,os.os_name AS os_code_exp
			,bl.bl_shelter_name
			,bl.bl_shelter_address 
		FROM 
			t_exp e 
		INNER JOIN 
			t_animal a 
		ON 
			e.animal_code = a.animal_code 
		INNER JOIN 
			t_business_license bl 
		ON 
			e.bl_code = bl.bl_code 
		INNER JOIN
			t_overall_status os
		ON
			e.os_code_exp = os.os_code
		WHERE 
			e.exp_code = #{expCode}
	</select>
	
	<!-- 체험 신청 후 해당 사용자 신청한 목록 보는 부분 -->
	<resultMap type="com.cafe24.iso159.exp.service.ExpAndAnimal" id="selectExpOneListMap">
		<collection property="overallStatus" resultMap="OverallStatusVo"></collection>
		<collection property="exp" resultMap="ExpVo"></collection>
		<collection property="animal" resultMap="AnimalVo"></collection>
	</resultMap>
	<select id="selectExpOneList" resultMap="selectExpOneListMap" parameterType="String">
		SELECT 
			a.animal_breed,
			e.exp_reserve_request_date,
			e.exp_start_date,
			e.exp_end_date,
			e.exp_code,
			os.os_name
		FROM 
			t_exp e 
		INNER JOIN 
			t_animal a 
		ON 
			e.animal_code = a.animal_code 
		INNER JOIN
			t_overall_status os
		ON
			e.os_code_exp = os.os_code
		WHERE 
			e.m_exp_id = #{mExpId}
		ORDER BY 
			exp_reserve_request_date DESC
	</select>
	
	<!-- 체험 신청할때 날짜선택 뿌려주는 부분 -->
	<select id="selectExpPeriod" resultType="com.cafe24.iso159.exp.service.ExpPeriod">
		SELECT 
			exp_period_code AS expPeriodCode
			,exp_period_period AS expPeriodPeriod
			,exp_period_level AS exPperiodLevel
			,exp_period_cost AS expPeriodCost
			,exp_period_cost_level AS expPeriodCostLevel
			,exp_period_cost_minus AS expPeriodCostMinus
			,exp_period_journal_count AS expPeriodJournalCount
		FROM 
			t_exp_period;
	</select>
	
	<!-- exp_code PK값 구하는 부분 -->
	<select id="selectExpCode" resultType="int">
		SELECT MAX(CAST(SUBSTRING(exp_code,10) AS DECIMAL)) FROM t_exp
	</select>
	
	<!-- 유기동물 체험신청 부분 -->
	<insert id="addExp" parameterType="com.cafe24.iso159.exp.service.Exp">
		INSERT INTO 
			t_exp
			(exp_code, animal_code, m_exp_id, 
			bl_code, exp_period_code, os_code_exp, 
			os_code_cost_return, exp_journal_count, exp_cost, 
			exp_purpose, exp_reserve_request_date, exp_start_date, 
			exp_end_date) 
		VALUES 
			(#{expCode}, #{animalCode}, #{mExpId}, 
			#{blCode}, #{expPeriodCode}, #{osCodeExp}, 
			#{osCodeCostReturn}, #{expJournalCount}, #{expCost}, 
			#{expPurpose}, now(), #{expStartDate}
			 ,#{expEndDate});
	</insert>
</mapper>