<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.animal.service.AnimalMapper">

	<!--동물리스트 띄우는 맵퍼  -->
	<resultMap id="selectAnimalListMap" type="com.cafe24.iso159.animal.service.AnimalCommand">
		<id column="os_name" property="osName"/>
		<result column="osNameAnimalKind" property="osNameAnimalKind"/>
		<result column="animal_breed" property="animalBreed"/>
		<result column="animal_area" property="animalArea"/>
		<result column="animal_id_code" property="animalIdCode"/>
		<result column="animal_weight" property="animalWeight"/>
		<result column="animal_age" property="animalAge"/>
		<result column="bl_shelter_name" property="blShelterName"/>
		<result column="animal_enroll_date" property="animalEnrollDate"/>
		<result column="animal_code" property="animalCode"/>
		<result column="m_member_id" property="mShelterId"/>
		<result column="bl_code" property="blCode"/>
		<result column="animal_image_path" property="animalImagePath"></result>
	</resultMap>
	
	<!-- 동물 상태별 카운트 조회 쿼리문 -->
	<select id="selectAnimalCountByOsName" parameterType="java.util.Map" resultType="Integer">
		SELECT 
			COUNT(animal_code)
		FROM 
			t_animal a
		INNER JOIN 
			t_overall_status os
		ON 
			a.os_code_animal = os.os_code
		WHERE 
			os_name=#{osName} AND a.bl_code=#{blCode}
	</select>
	
	<!-- animal 테이블에서 동물 상태코드를 수정하는 쿼리문 -->
	<update id="updateAnimalOsCode" parameterType="com.cafe24.iso159.animal.service.Animal">
		UPDATE t_animal 
		SET 
			os_code_animal=#{osCodeAnimal}
		WHERE 
			animal_code=#{animalCode};
	</update>
	
	<!-- 동물등록 -->
	<insert id="insertAnimal" parameterType="com.cafe24.iso159.animal.service.Animal">
		INSERT INTO 
			t_animal 
			(
				animal_code, 
				os_code_animal, 
				bl_code, 
				m_shelter_id, 
				os_code_kind, 
				animal_breed, 
				animal_area, 
				animal_id_code, 
				animal_weight, 
				animal_age, 
				animal_enroll_date,
				animal_image_path) 
			VALUES 
			(
				#{animalCode}, 
				#{osCodeAnimal}, 
				#{blCode},
				#{mShelterId}, 
				#{osCodeKind}, 
				#{animalBreed}, 
				#{animalArea}, 
				#{animalIdCode}, 
				#{animalWeight}, 
				#{animalAge},
				now(),
				#{animalImagePath}
			);
	</insert>
	
	<!-- 동물등록 max코드값 조회쿼리문 -->
	<select id="selectLastCode" resultType="String">
		select max(CAST(substring(animal_code,13) AS DECIMAL)) as maxcol from t_animal
	</select>
	
	<!-- 동물 리스트 전체조회-->
	<select id="selectAnimalList" parameterType="java.util.Map" resultMap="selectAnimalListMap">
		SELECT
			os.os_name
			,osk.os_name as osNameAnimalKind			
			, animal_breed
			, animal_area
			, animal_id_code
			, animal_weight 
			, animal_age
            , bl.bl_shelter_Name
			, animal_enroll_date
			, animal_code
			, animal_image_path
		FROM t_animal a
		INNER JOIN t_overall_status os
		ON os.os_code = a.os_code_animal
        INNER JOIN t_overall_status osk
		ON osk.os_code = a.os_code_kind
        INNER JOIN t_business_license bl
		ON a.bl_code = bl.bl_code
		<if test="blCode != null">
			<if test="osCodeAnimal != null">
				WHERE bl.bl_code=#{blCode} and os.os_name=#{osCodeAnimal}
			</if>
		</if>
		ORDER BY animal_code DESC
		LIMIT #{startRow},#{pagePerRow}
	</select>
	<!-- 조건검색 -->
	<select id="selectAnimalcategory" parameterType="java.util.Map" resultMap="selectAnimalListMap">
		SELECT
			os.os_name
			,osk.os_name as osNameAnimalKind			
			, animal_breed
			, animal_area
			, animal_id_code
			, animal_weight 
			, animal_age
            , bl.bl_shelter_Name
			, animal_enroll_date
			, animal_code 
		FROM t_animal a
		INNER JOIN t_overall_status os
		ON os.os_code = a.os_code_animal
        INNER JOIN t_overall_status osk
		ON osk.os_code = a.os_code_kind
        INNER JOIN t_business_license bl
		ON a.bl_code = bl.bl_code
        <choose> 
        <when test= "AnimalCategory=='animal_area'">
        WHERE animal_area LIKE CONCAT("%",#{selectName},"%")
        </when>
        <when test="AnimalCategory=='animal_breed'">
        WHERE animal_breed LIKE CONCAT("%",#{selectName},"%")
        </when>
        <when test="AnimalCategory=='animal_id_code'">
        WHERE animal_id_code LIKE CONCAT("%",#{selectName},"%")
        </when> 
        <when test="AnimalCategory=='animal_enroll_date'">
        WHERE animal_enroll_date LIKE CONCAT("%",#{selectName},"%")
        </when>
        <otherwise>
        WHERE bl.bl_shelter_Name LIKE CONCAT("%",#{selectName},"%")
        </otherwise>
        </choose>
	</select>
	
	<!-- 동물리스트 삭제 -->
	<delete id="deleteAnimal" parameterType="String">
		DELETE FROM 
			t_animal 
		WHERE 
			animal_code=#{animalCode};
	</delete>
	
	<!-- 동물리스트 수정 -->
	<update id="updateAnimal" parameterType="com.cafe24.iso159.animal.service.Animal">
		UPDATE 
			t_animal 
		SET 
			animal_breed=#{animalBreed}
			, animal_area=#{animalArea}
			, animal_weight=#{animalWeight}
			, animal_age=#{animalAge} 
		<if test="animalImagePath != null">
			, animal_image_path=#{animalImagePath} 
		</if>
		WHERE 
			animal_code=#{animalCode};
	</update>
	<!-- 동물리스트하나 조회하는 select 쿼리문 -->
	<select id="selectAnimalOne" parameterType="string" resultType="com.cafe24.iso159.animal.service.Animal">
		SELECT
			animal_code as animalCode
			,animal_breed as animalBreed
			, animal_area as animalArea
			, animal_id_code as animalIdCode
			, animal_weight as animalWeight
			, animal_age as animalAge
			, animal_image_path as animalImagePath
		From 
			t_animal
		WHERE
			animal_code=#{animalCode};
	</select>
	<!-- 동물 상세조회 -->
	<select id="animalDetail" parameterType="string" resultMap="selectAnimalListMap">
		SELECT
			osk.os_name as osNameAnimalKind			
			, animal_breed
			, animal_area
			, animal_id_code
			, animal_weight 
			, animal_age
            , bl.bl_shelter_Name
			, animal_enroll_date
			, animal_code
			, bl.m_member_id
			, bl.bl_code  
			, animal_image_path
		FROM t_animal a
        INNER JOIN t_overall_status osk
		ON osk.os_code = a.os_code_kind
        INNER JOIN t_business_license bl
		ON a.bl_code = bl.bl_code
        WHERE animal_code =#{animalCode};
	</select>	
</mapper>