<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.iso159.adopt.service.AdoptMapper">
	
	<!-- 파일리스트 -->
	<select id="selectAdoptFileList"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest"
			resultType="com.cafe24.iso159.adopt.service.AdoptRequestFile">
		SELECT
				of_code as ofCode,
                adopt_request_code as adoptRequestCode,
                of_path as ofPath,
                of_origin_name as ofOriginName,
                of_save_name as ofSaveName, 
                of_ext as ofExt,
                of_size as ofSize,
                of_down_date as ofDownDate
		FROM 	t_overall_file
		WHERE 	adopt_request_code = #{adoptRequestCode}
	</select>

	<!-- 파일등록 -->
	<insert id="insertAdoptFile"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequestFile">
	INSERT INTO 
		t_overall_file 
		(
			of_code, 
			adopt_request_code, 
			of_path, 
			of_origin_name, 
			of_save_name, 
			of_ext, 
			of_size, 
			of_down_date
		) 
	VALUES 
		(
			#{ofCode}, 
			#{adoptRequestCode}, 
			#{ofPath}, 
			#{ofOriginName}, 
			#{ofSaveName}, 
			#{ofExt}, 
			#{ofSize}, 
			now()
		)
	</insert>
	
	<!-- 입양요청 max코드값 조회 쿼리문 -->
	<select id="selectLastCodeAr" resultType="String">
		select max(CAST(substring(adopt_request_code,20) AS DECIMAL)) as maxcol from t_adopt_request
	</select>
	
	<!-- 파일추가 max코드값 조회 쿼리문 -->
	<select id="selectLastCodeOf" resultType="String">
		select max(CAST(substring(of_code,9) AS DECIMAL)) as maxcol from t_overall_file
	</select>
	
	<!-- 입양신청 등록 쿼리문 -->
	<insert id="AdoptRequest"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
	
	INSERT INTO 
		t_adopt_request 
		(
			adopt_request_code, 
			animal_code, 
			bl_code, 
			m_member_id, 
			os_code_adopt, 
			adopt_request_reason, 
			adopt_request_date, 
			adopt_point
		) 
		VALUES 
		(
			#{adoptRequestCode}, 
			#{animalCode}, 
			#{blCode}, 
			#{mMemberId}, 
			#{osCodeAdopt}, 
			#{adoptRequestReason}, 
			now(), 
			#{adoptPoint}
		)
	</insert>
	
	<!-- 입양신청한 조회 맵퍼 -->
	<resultMap 	type="com.cafe24.iso159.adopt.service.AdoptRequestAndOsCodeAnimal" 
				id="selectAdoptRequestMap">
		<id column="adopt_request_code" property="adoptRequestCode"/>
		<result column="osCodeAnimal" property="osCodeAnimal"/>
		<collection property="adoptRequest" ofType="com.cafe24.iso159.adopt.service.AdoptRequest">
			<id column="adopt_request_code" property="adoptRequestCode"/>
			<result column="m_member_id" property="mMemberId"/>
			<result column="osCodeAdopt" property="osCodeAdopt"/>
			<result column="animal_code" property="animalCode"/>			
			<result column="adopt_request_reason" property="adoptRequestReason"/>
			<result column="adopt_request_date" property="adoptRequestDate"/>
			<result column="adopt_request_advice_date" property="adoptRequestAdviceDate"/>
			<result column="adopt_decide_date" property="adoptDecideDate"/>
		</collection>
		
	</resultMap>
	
	<!-- 입양상태코드 조건검색 -->
	<select id="selectAdoptCategory" parameterType="java.util.Map" resultMap="selectAdoptRequestMap">
		SELECT 
			ar.adopt_request_code, 
			ar.m_member_id,  
			os1.os_name as osCodeAdopt, 
            ar.animal_code, 
            os2.os_name as osCodeAnimal,
            ar.adopt_request_reason,
			ar.adopt_request_date, 
			ar.adopt_request_advice_date,
			ar.adopt_decide_date, 
			ar.os_code_adopt
		FROM 
			t_adopt_request ar 
		
        INNER JOIN 
			t_overall_status os1
		ON 
			os1.os_code = ar.os_code_adopt 
        INNER JOIN
			t_animal a
		ON	
			ar.animal_code = a.animal_code
        INNER JOIN
			t_overall_status os2
		ON
			os2.os_code = a.os_code_animal
		
        <choose> 
	        <when test= "OsCategory=='os_adopt_4_1_1'">
	        WHERE ar.os_code_adopt =#{OsCategory}
	        </when>
	        <when test="OsCategory=='os_adopt_4_1_2'">
	        WHERE ar.os_code_adopt =#{OsCategory}
	        </when>
	        <when test="OsCategory=='os_adopt_4_1_5'">
	        WHERE ar.os_code_adopt =#{OsCategory}
	        </when> 
	        <when test="OsCategory=='os_adopt_4_1_7'">
	        WHERE ar.os_code_adopt =#{OsCategory}
	        </when>
	        <when test="OsCategory=='os_adopt_4_1_8'">
	        WHERE ar.os_code_adopt =#{OsCategory}
	        </when>
	        <when test="OsCategory=='전체조회'">
	        </when>
	       
        </choose>
  		ORDER BY 
			ar.adopt_request_date DESC
	</select>
	
	
	<!-- 입양신청한 조회 리스트 -->
	<select id="selectAdoptRequest"
			resultMap="selectAdoptRequestMap">
		SELECT 
			ar.adopt_request_code, 
			ar.m_member_id,  
			os1.os_name as osCodeAdopt, 
            ar.animal_code, 
            os2.os_name as osCodeAnimal,
            ar.adopt_request_reason,
			ar.adopt_request_date, 
			ar.adopt_request_advice_date,
			ar.adopt_decide_date 
			
		FROM 
			t_adopt_request ar 
		
        INNER JOIN 
			t_overall_status os1
		ON 
			os1.os_code = ar.os_code_adopt 
        INNER JOIN
			t_animal a
		ON	
			ar.animal_code = a.animal_code
        INNER JOIN
			t_overall_status os2
		ON
			os2.os_code = a.os_code_animal
		
		ORDER BY ar.adopt_request_date DESC
	</select>
	
	<!-- 회원아이디로 입양신청조회 -->
	<select id="selectAdoptRequestByMemberId"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest"
			resultMap="selectAdoptRequestMap">
		SELECT 
			ar.adopt_request_code, 
			ar.m_member_id,  
			os1.os_name as osCodeAdopt, 
            ar.animal_code, 
            os2.os_name as osCodeAnimal,
            ar.adopt_request_reason,
			ar.adopt_request_date, 
			ar.adopt_request_advice_date,
			ar.adopt_decide_date 
			
		FROM 
			t_adopt_request ar 
		
        INNER JOIN 
			t_overall_status os1
		ON 
			os1.os_code = ar.os_code_adopt 
        INNER JOIN
			t_animal a
		ON	
			ar.animal_code = a.animal_code
        INNER JOIN
			t_overall_status os2
		ON
			os2.os_code = a.os_code_animal
		WHERE m_member_id = #{mMemberId}
		ORDER BY ar.adopt_request_date DESC
	</select>
	
	<!-- 입양신청코드로 조회해서 입양신청-> 입양신청확인 업데이트 쿼리문 -->
	<update id="updateOsCodeAdopt412"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_adopt_request 
		SET 
			os_code_adopt = 'os_adopt_4_1_2' 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	</update>
	
	<!-- 상담내용등록후 입양신청확인 -> 상담진행중 업데이트 쿼리문 -->
	<update id="updateOsCodeAdopt415"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_adopt_request 
		SET 
			os_code_adopt = 'os_adopt_4_1_5' 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	
	</update>
	
	<!-- 입양결정 하기위한 상담진행중 -> 입양결정완료 로 업데이트 쿼리문 -->
	<update id="updateOsCodeAdopt417"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_adopt_request 
		SET 
			os_code_adopt = 'os_adopt_4_1_7', 
			adopt_decide_date = now() 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	
	</update>
	
	<!-- 입양결정시 동물상태코드(체험동물->입양동물) 업데이트 -->
	<update id="updateOsCodeAnimal"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_animal 
		SET 
			os_code_animal = 'os_animal_3_1_4' 
		WHERE 
			animal_code = #{animalCode}
	</update>
	
	<!-- 입양취소시 동물상태코드 체험동물로 업데이트 쿼리문 -->
	<update id="updateOsCodeAnimal312"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_animal 
		SET 
			os_code_animal = 'os_animal_3_1_2' 
		WHERE 
			animal_code = #{animalCode}
	
	</update>
	
	
	<!-- 파일삭제 쿼리문 -->
	<delete id="deleteAdoptFile"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		DELETE FROM 
			t_overall_file 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	</delete>
	
	<!-- 입양취소 쿼리문 -->
	<delete id="deleteAdopt"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		DELETE FROM 
			t_adopt_request 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	</delete>
	
	<!-- 상담내용입력 쿼리문 -->
	<update id="updateAdoptRequestAdvice"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest">
		UPDATE 
			t_adopt_request 
		SET 
			adopt_request_advice_contents = #{adoptRequestAdviceContents}, 
			adopt_request_advice_date = now() 
		WHERE 
			adopt_request_code = #{adoptRequestCode}
	</update>
	
	
	<!-- 상담내용조회 -->
	<select id="selectAdoptCounselList"
			parameterType="com.cafe24.iso159.adopt.service.AdoptRequest"
			resultType="com.cafe24.iso159.adopt.service.AdoptRequest">
		SELECT 
			adopt_request_advice_contents as adoptRequestAdviceContents
		FROM 
			t_adopt_request 
		WHERE 
			adopt_request_code=#{adoptRequestCode}
	</select>
	
</mapper>